<ng-container *ngFor="let item of myArr; let i=index">
  <div appCusTab
       cusActiveClass="my-active"
       style="margin-top:30px ">
    <div>
      <button appCusHeaderTab="1">btn1</button>
      <button appCusHeaderTab="2">btn2</button>
      <button appCusHeaderTab="3">btn3</button>
      <button appCusHeaderTab="4">btn4</button>
      <button appCusHeaderTab="5" [cusActive]="true">btn5</button>
    </div>
    <hr>
    <div>
      <div *appCusContentTab="'1'">1</div>
      <div *appCusContentTab="'2'">2</div>
      <div *appCusContentTab="'3'">3</div>
      <div *appCusContentTab="'4'">4</div>
      <div *appCusContentTab="'5'">5</div>
    </div>
  </div>
</ng-container>
